.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

body {
    background: #bba897;
}

.bg-light {
    background-color: #eaba29!important;
}

.img-2 {
    margin-top: 50%;
    margin-right: 5%;
    border-radius: 25%;
}

.img-3 {
    margin-top: 40%;
    border-radius: 25%;
  
}

.texto-intro{
    margin-top: 50%;
    font-style: italic;
    font-size: 80px;
   
  
}

p.texto-parrafo {
    white-space: pre-line;
}
.texto-parrafo {
    font-style: italic;
    font-size: 99%;
}
p {
    margin-top: -37px;
    margin-bottom: 1rem;
}

.img-1 {
    width:60px ;
    height: 60px;
}

footer {
	background-color:#1A1A1A;
	height: 20%;
  color: white;
  padding: 10px;
  margin-top: 25%;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}